.fotoMila {
  border: black 1px solid;
  padding: 8px;
  margin-right: 8px;
  border-radius: 1%;
  width: auto;
  height: 90vh;
}

@media only screen and (max-width: 800px) {
  .fotoMila {
    margin-right: 0px;
    margin-bottom: 8px;
    overflow: visible;
    max-height: 100vh;
  }
}
