.fotoMila {
  width: 444px;
  border: white 5px solid;
  padding: 8px;
  border-radius: 1%;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .fotoMila {
    width: 100%;
    height: auto;
    overflow: auto;
  }
}
