@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Over+the+Rainbow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@300&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Niramit', sans-serif;
  background-color: #e2cbd3;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
