.daySpan {
  width: 20px;
  height: 20px;
  margin: 4px;
  background-color: #c38df5;
  border-radius: 50%;
  border: solid 1px black;
  cursor: pointer;
}

.daySpan:hover {
  background-color: #663793;
  color: white;
  transform: translateY(-1px);
  box-shadow: black 1px 1px;
}

.selectedDaySpan {
  background-color: #9327f7;
  color: white;
  width: 20px;
  height: 20px;
  margin: 4px;
  border-radius: 50%;
  border: solid 1px black;
  cursor: pointer;
  animation: pushBtn 1s linear;
}

@keyframes pushBtn {
  0% {
    transform: translateY(-1px);
    box-shadow: black 1px 1px;
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
    box-shadow: none;
  }
}

.nonAvailableDay {
  background-color: transparent;
  color: black;
  width: 20px;
  height: 20px;
  margin: 4px;
  border-radius: 50%;
  border: solid 1px black;
  cursor: not-allowed;
}
