@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Over+the+Rainbow&family=Roboto:wght@100;300&display=swap');

span {
  font-size: 2.3rem;
  padding: 2px;
  width: 35px;
  height: 35px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.daySpan {
  background-color: #d0c2c2;
  border-radius: 50%;
  border: solid 1px black;
  cursor: pointer;
}

.daySpan:hover {
  background-color: #dbc8cb;
  color: white;
  transform: translateY(-1px);
  box-shadow: black 1px 1px;
}

.selectedDaySpan {
  background-color: #8c787f;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px black;
  border-radius: 50%;
  border: solid 1px black;
  cursor: pointer;
  animation: pushBtn 1s linear;
}

@keyframes pushBtn {
  0% {
    transform: translateY(-1px);
    box-shadow: none;
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
    box-shadow: black 1px 1px;
  }
}

.nonAvailableDay {
  background-color: #f3e1e2;
  color: black;
  border-radius: 50%;
  border: solid 1px black;
  cursor: not-allowed;
}
