@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');

.outerDiv {
  height: 100%;
  width: 100%;
}

.container {
  margin: auto;
  max-width: 80%;
  margin-top: 2rem;
}

.heading {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}

@media only screen and (max-width: 800px) {
  .container {
    max-width: 90%;
  }
}
