.mainDiv {
  text-align: center;
}

.btnsDiv {
  margin-bottom: 2rem;
}

.daysDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.selectedDayOuterDiv {
  text-align: center;
}

.selectedDayDiv {
  background-color: violet;
  width: 200px;
  height: 200px;
  text-align: center;
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
  font-size: 10rem;
  border-radius: 50%;
  border: solid 1px black;
}

.dayPicker {
  background-color: pink;
  width: 44px;
  height: 33px;
  border-radius: 4%;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

.imageBtn {
  margin: 0 0.4rem 0 0.4rem;
  font-size: 2rem;
  padding: 8px;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  cursor: pointer;
}

.swipeMsg {
  font-size: 2rem;
  display: none;
}

.imageBtn:hover {
  background-color: whitesmoke;
  transform: translateY(-3px);
  box-shadow: black 2px 2px;
}

.imageBtn:active {
  transform: translateY(-1px);
  box-shadow: black 1px 1px;
}

.btnIcon {
  transform: translateY(3px);
}

.diaText {
  font-size: 2.5rem;
}

@media only screen and (max-width: 1200px) {
  .daysDiv {
    justify-content: left;
  }

  .swipeMsg {
    display: block;
  }
}
