.mainDiv {
  text-align: center;
}

.daysDiv {
  display: flex;
  justify-content: space-around;
}

.selectedDayOuterDiv {
  text-align: center;
}

.selectedDayDiv {
  background-color: violet;
  width: 200px;
  height: 200px;
  text-align: center;
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
  font-size: 10rem;
  border-radius: 50%;
  border: solid 1px black;
}

.dayPicker {
  background-color: pink;
  width: 44px;
  height: 33px;
  border-radius: 4%;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

.imageBtn {
  margin: 0 0.4rem 0 0.4rem;
  font-size: 2rem;
  padding: 0;
  background-color: white;
  cursor: pointer;
}

.imageBtn:hover {
  font-size: 2rem;
  padding: 0;
  background-color: rgb(228, 227, 227);
  transform: translateY(-2px);
  cursor: pointer;
}

.imageBtn:active {
  transform: translateY(-1px);
}
