@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.aboutDiv {
  display: flex;
  border-top-left-radius: 1%;
  border-bottom-left-radius: 1%;
}

.aboutImage {
  border: white 5px solid;
  padding: 8px;
  margin: 8px;
  border-radius: 1%;
  width: 100%;
  height: auto;
}

.aboutText {
  border: solid 2px black;
  border-radius: 2px;
  margin: 8px;
  display: flex;
  overflow-y: scroll;
  flex-flow: column;
  height: auto;
  width: 60%;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5rem;
  padding: 3px;
}

.aboutText p {
  margin-bottom: 2rem;
}

.button {
  background-color: white;
  border: solid black 2px;
  padding: 3px;
  border-radius: 6%;
  width: 150px;
  text-align: center;
}

.button a {
  margin-bottom: 2rem;
}

.button:link {
  margin-bottom: 2rem;
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .aboutDiv {
    flex-direction: column;
    height: auto;
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
  }
  .aboutImage {
    width: 100%;
    height: auto;
    overflow: auto;
  }
  .aboutText {
    width: 100%;
  }
}
