.story-container-class {
  background-color: #55a630;
  border: solid black 0.1rem;
  width: 33vh;
  height: 33vh;
  margin: 1rem;
  padding: 1rem;
  position: relative;
}

.story-container-class:hover {
  background-color: #407925;
  box-shadow: 0.3rem 0.3rem #000;
  transform: translateY(-0.3rem);
}

.story-container-class:active {
  box-shadow: 0.3rem 0.3rem #000;
  transform: translateY(-0.1rem);
}

.story-title {
  color: white;
  font-size: 1.618rem;
}

.story-title:link {
  text-decoration: none;
}

.story-image {
  border: solid 2px white;
  height: 55%;
  margin: 1rem 0.8rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.8rem;
}

@media only screen and (max-width: 666px) {
  .story-container-class {
    width: 66vh;
    height: 40vh;
  }
  .story-title {
    font-size: 2.5rem;
  }
}
