.container {
  display: flex;
  height: 100%;
  margin-bottom: 2rem;
  border-top-left-radius: 1%;
  border-bottom-left-radius: 1%;
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    height: auto;
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
  }
}
