.container {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 2rem;
  border-top-left-radius: 1%;
  border-bottom-left-radius: 1%;
}

.imageBtn {
  cursor: pointer;
  margin: auto 1rem;
}

.btnIcon {
  font-size: 5rem;
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    height: auto;
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
  }
  .imageBtn {
    display: none;
  }
}
